.ContentEditable__wrapper {
  position: relative;
  height: 100%;
}

.ContentEditable__root {
  border: 0;
  outline: 0;
  position: relative;
  box-sizing: border-box;
  padding: 0 15px;
  min-height: 100%;
}

.ContentEditable__placeholder {
  pointer-events: none;
  user-select: none;
  position: absolute;
  top: 0;
  padding-left: 15px;
  color: rgba(0, 0, 0, 0.3);
}
