.ContentEditable__wrapper {
  position: relative;
  height: 100%;
  line-height: 1.5;
}

[data-lexical-editor][contenteditable].ContentEditable__root {
  padding: 0 30px;
  min-height: 100%;
}

.ContentEditable__placeholder {
  pointer-events: none;
  user-select: none;
  position: absolute;
  top: 0;
  padding-left: 30px;
  color: rgba(0, 0, 0, 0.3);
}
