@font-face {
  font-family: "iconfont"; /* Project id 4667906 */
  src: url('iconfont.woff2?t=1724913188132') format('woff2'),
       url('iconfont.woff?t=1724913188132') format('woff'),
       url('iconfont.ttf?t=1724913188132') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-superscript1:before {
  content: "\e750";
}

.icon-background_color:before {
  content: "\e658";
}

.icon-leftquotealt:before {
  content: "\e779";
}

.icon-rightquotealt:before {
  content: "\e82e";
}

.icon-quote1:before {
  content: "\e62c";
}

.icon-link:before {
  content: "\e772";
}

.icon-list-order:before {
  content: "\e639";
}

.icon-list-bullet:before {
  content: "\e63a";
}

.icon-indent1:before {
  content: "\e605";
}

.icon-TextIndentDecrease-1:before {
  content: "\e6e4";
}

.icon-TextIndentIncrease-1:before {
  content: "\e71a";
}

.icon-drag:before {
  content: "\e6c8";
}

.icon-indent4:before {
  content: "\e691";
}

.icon-unindent:before {
  content: "\e69d";
}

.icon-list3:before {
  content: "\ea4c";
}

.icon-list-fail:before {
  content: "\ea4d";
}

.icon-text-color:before {
  content: "\e68b";
}

.icon-text-align-justify:before {
  content: "\e601";
}

.icon-text-align-right:before {
  content: "\e602";
}

.icon-backgroundColor:before {
  content: "\e695";
}

.icon-CLEAR_FORMAT:before {
  content: "\e9f7";
}

.icon-text-align-center:before {
  content: "\e603";
}

.icon-text-align-left:before {
  content: "\e604";
}

.icon-clear-format:before {
  content: "\e694";
}

.icon-text-color3:before {
  content: "\e66c";
}

.icon-format-subscript:before {
  content: "\e76b";
}

.icon-font_size_down:before {
  content: "\e65a";
}

.icon-code:before {
  content: "\e62b";
}

.icon-yinhao:before {
  content: "\e63f";
}

.icon-quotelef-copy:before {
  content: "\e600";
}

