:root {
  --shadow-island: 0px 0px 1px 0px rgba(0, 0, 0, 0.2),
    0px 0px 1px 0px rgba(0, 0, 0, 0.1), 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  a {
    color: var(--lz-color__primary);
  }

  button {
    margin: 0;
    padding: 0;
    cursor: pointer;
    border: none;
    background: none;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
  }

  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type='number'] {
    -moz-appearance: textfield;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  blockquote {
    margin: 0.6em 0;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 1em;
  }
}

#root {
  font-size: 14px;
}

.editor-page {
  height: 100vh;
  min-height: 100%;
  display: flex;
  flex-direction: column;

  .page-header {
    flex-shrink: 0;
    border-bottom: 1px solid var(--lz-color__border);
    padding: 15px 30px;
  }

  .page-footer {
    flex-shrink: 0;
    border-top: 1px solid var(--lz-color__border);
    height: 30vh;
  }
}

.editor-shell {
  flex-grow: 1;
  position: relative;
  margin: 0 auto;
  /* min-height: 100%; */
  max-width: 1080px;
  line-height: 1.5;
  display: flex;
  .left-col {
    flex-grow: 0;
    flex-shrink: 0;
    position: sticky;
    top: 0px;
    border-right: 1px solid var(--lz-color__border);
    height: 100vh;
    max-width: 300px;
    min-width: 180px;
  }
  .middle-col {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  .right-col {
    flex-grow: 0;
    flex-shrink: 0;
    position: sticky;
    top: 0px;
    border-left: 1px solid var(--lz-color__border);
    max-height: 100vh;
    max-width: 300px;
    min-width: 180px;
  }
}

.left-toggle-btn {
  display: none;
  z-index: 1;
  position: fixed;
  top: 30px;
  left: 0;
  border-radius: 0 8px 8px 0;
  padding: 0;
  width: 30px;
  height: 30px;
  background-color: var(--lz-color__bg__hover);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.editor {
  flex-grow: 1;
  position: relative;
  height: 100%;
  // height: 100vh;
  // overflow-y: auto;
}

/* 
** ! import 所有编辑器 非常非常重要
 */
[data-lexical-editor][contenteditable] {
  outline: 0;
  position: relative;
  box-sizing: border-box;
  border: 0;
  padding: 0 15px;
  caret-color: rgb(5, 5, 5);
  /**
   * 非常重要，清除浮动。这里的关键是 margin上下塌陷的问题。
   */
  &::before {
    display: table;
    content: '';
  }
  &::after {
    display: table;
    clear: both;
    content: '';
  }

  &:focus {
    /* 禁用默认样式 */
    outline: none;
    /* background-color: #f0f8ff; */
  }
}

.max-container {
  margin: 0px auto;
  max-width: 960px;
}

.top-row {
  flex-shrink: 0;
  flex-grow: 0;
  z-index: 1;
  position: sticky;
  top: 0;
  border-bottom: 1px solid var(--lz-color__border);
  max-width: 100vw;
  background-color: var(--lz-color__bg);
}

.main-row {
  flex-grow: 1;
  flex-shrink: 1;
  position: relative;
  display: flex;
}

.content-container {
  margin: 0px auto;
  max-width: 768px;
  width: 100%;
  display: flex;
}

.bottom-row {
  flex-grow: 0;
  flex-shrink: 0;
  position: sticky;
  bottom: 0;
  border-top: 1px solid var(--lz-color__border);
  background-color: var(--lz-color__bg);
}
.more-action-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.test-recorder-output {
  margin: 20px auto 20px auto;
  width: 100%;
}

pre {
  line-height: 1.1;
  background: #222;
  color: #fff;
  margin: 0;
  padding: 10px;
  font-size: 12px;
  overflow: auto;
  max-height: 400px;
}

.tree-view-output {
  display: block;
  background: #222;
  color: #fff;
  padding: 0;
  font-size: 12px;
  margin: 1px auto 10px auto;
  position: relative;
  overflow: hidden;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

pre::-webkit-scrollbar {
  background: transparent;
  width: 10px;
}

pre::-webkit-scrollbar-thumb {
  background: #999;
}

.editor-dev-button {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  font-size: 12px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  outline: none;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  background-color: #444;
}

.editor-dev-button::after {
  content: '';
  position: absolute;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  display: block;
  background-size: contain;
  filter: invert(1);
}

.editor-dev-button:hover {
  background-color: #555;
}

.editor-dev-button.active {
  background-color: rgb(233, 35, 35);
}

.test-recorder-toolbar {
  display: flex;
}

.test-recorder-button {
  position: relative;
  display: block;
  width: 32px;
  height: 32px;
  font-size: 10px;
  padding: 6px 6px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  outline: none;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
  background-color: #222;
  transition: box-shadow 50ms ease-out;
}

.test-recorder-button:active {
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.4);
}

.test-recorder-button + .test-recorder-button {
  margin-left: 4px;
}

.test-recorder-button::after {
  content: '';
  position: absolute;
  top: 8px;
  right: 8px;
  bottom: 8px;
  left: 8px;
  display: block;
  background-size: contain;
  filter: invert(1);
}

#options-button {
  position: fixed;
  right: 30px;
  bottom: 90px;
}

#paste-log-button {
  position: fixed;
  right: 30px;
  bottom: 40px;
}

#test-recorder-button {
  position: fixed;
  right: 70px;
  bottom: 20px;
}

#docs-button {
  position: fixed;
  left: 170px;
  bottom: 20px;
}

#options-button::after {
  background-image: url(images/icons/gear.svg);
}

#test-recorder-button::after {
  background-image: url(images/icons/journal-code.svg);
}

#paste-log-button::after {
  background-image: url(images/icons/clipboard.svg);
}

#docs-button::after {
  background-image: url(images/icons/file-earmark-text.svg);
}

#test-recorder-button-snapshot {
  margin-right: auto;
}

#test-recorder-button-snapshot::after {
  background-image: url(images/icons/camera.svg);
}

#test-recorder-button-copy::after {
  background-image: url(images/icons/clipboard.svg);
}

#test-recorder-button-download::after {
  background-image: url(images/icons/download.svg);
}

.typeahead-popover {
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.typeahead-popover ul {
  padding: 0;
  list-style: none;
  margin: 0;
  border-radius: 6px;
  overflow-y: scroll;
}

.typeahead-popover ul::-webkit-scrollbar {
  display: none;
}

.typeahead-popover ul {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.typeahead-popover ul li {
  outline: none;
  margin: 0;
  cursor: pointer;
}

.typeahead-popover ul li.selected {
  background-color: var(--lz-color__bg__active);
}

.typeahead-popover li {
  flex-shrink: 0;
  border: 0;
  margin: 0;
  padding: 2px 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.typeahead-popover li.active {
  display: flex;
  width: 20px;
  height: 20px;
  background-size: contain;
}

.typeahead-popover li:hover {
  background-color: var(--lz-color__bg__hover);
}

.typeahead-popover li .text {
  flex-grow: 1;
  display: flex;
}

.typeahead-popover li .icon {
  margin-right: 8px;
  width: 16px;
  height: 16px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  line-height: 16px;
  user-select: none;
  display: flex;
}

.component-picker-menu {
}
.mentions-menu {
  font-size: 12px;
}
.auto-embed-menu {
  font-size: 12px;
}
.emoji-menu {
  overflow: auto;
  max-height: 200px;
  font-size: 12px;
}

.link-editor .button.active,
.toolbar .button.active {
  background-color: rgb(223, 232, 250);
}

.link-edit-form {
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .form-items {
    flex-grow: 1;
    flex-shrink: 1;
  }

  .form-actions {
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    align-items: center;
  }

  .link-input {
    border: 0;
    outline: 0;
    position: relative;
    box-sizing: border-box;
    padding: 5px;
    width: 100%;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.05);
  }
  .link-confirm {
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-image: url(images/icons/success-alt.svg);
    background-size: 16px;
    background-position: center;
    background-repeat: no-repeat;
  }
  .link-cancel {
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-image: url(images/icons/close.svg);
    background-size: 16px;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.link-editor .link-view {
  border: 0;
  outline: 0;
  margin: 5px;
  padding: 5px;
}

.link-editor .link-view a {
  word-break: break-word;
}

.link-editor div.link-edit {
  cursor: pointer;
  display: inline-block;
  margin-left: 10px;
  width: 24px;
}

.link-editor div.link-trash {
  cursor: pointer;
  display: inline-block;
  width: 24px;
}

.link-editor .link-input a {
  color: rgb(33, 111, 219);
  text-decoration: underline;
  white-space: nowrap;
  overflow: hidden;
  margin-right: 30px;
  text-overflow: ellipsis;
}

.link-editor .link-input a:hover {
  text-decoration: underline;
}

.link-editor .font-size-wrapper,
.link-editor .font-family-wrapper {
  display: flex;
  margin: 0 4px;
}

.link-editor select {
  padding: 6px;
  border: none;
  background-color: rgba(0, 0, 0, 0.075);
  border-radius: 4px;
}

.mention:focus {
  box-shadow: rgb(180 213 255) 0px 0px 0px 2px;
  outline: none;
}

.characters-limit {
  color: #888;
  font-size: 12px;
  text-align: right;
  display: block;
  position: absolute;
  left: 12px;
  bottom: 5px;
}

.characters-limit.characters-limit-exceeded {
  color: red;
}

.dropdown {
  z-index: 100;
  position: fixed;
  border-radius: 8px;
  box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1),
    inset 0 0 0 1px rgba(255, 255, 255, 0.5);
  background-color: var(--lz-color_popover__bg);
  font-size: 12px;
}

.dropdown .item {
  flex-shrink: 0;
  margin: 3px;
  border-radius: 4px;
  border: 0;
  padding: 3px 5px;
  max-width: 250px;
  font-size: inherit;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown .item.fontsize-item,
.dropdown .item.fontsize-item .text {
  min-width: unset;
}

.dropdown .item .active {
  display: flex;
  width: 20px;
  height: 20px;
  background-size: contain;
}

.dropdown .item:hover {
  background-color: var(--lz-color_popover__bg__hover);
}

.dropdown .item .text {
  flex-grow: 1;
  display: flex;
}

.dropdown .item .icon {
  user-select: none;
  margin-right: 6px;
  width: 1em;
  height: 1em;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown .divider {
  margin: 4px 8px;
  height: 1px;
  width: auto;
  background-color: var(--lz-color_divider__border);
}

@media screen and (max-width: 1100px) {
  .dropdown-button-text {
    display: none !important;
  }

  .dialog-dropdown > .dropdown-button-text {
    display: flex !important;
  }

  .font-size .dropdown-button-text {
    display: flex !important;
  }

  .code-language .dropdown-button-text {
    display: flex !important;
  }
}

.switches {
  z-index: 6;
  position: fixed;
  left: 10px;
  bottom: 70px;
  animation: slide-in 0.4s ease;
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.switch {
  display: block;
  color: #444;
  margin: 5px 0;
  background-color: rgba(238, 238, 238, 0.7);
  padding: 5px 10px;
  border-radius: 10px;
}

#rich-text-switch {
  right: 0;
}

#character-count-switch {
  right: 130px;
}

.switch label {
  margin-right: 5px;
  width: 100px;
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
}

.switch button {
  background-color: rgb(206, 208, 212);
  height: 24px;
  box-sizing: border-box;
  border-radius: 12px;
  width: 44px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  outline: none;
  cursor: pointer;
  transition: background-color 0.1s;
  border: 2px solid transparent;
}

.switch button:focus-visible {
  border-color: blue;
}

.switch button span {
  top: 0px;
  left: 0px;
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 12px;
  background-color: white;
  transition: transform 0.2s;
}

.switch button[aria-checked='true'] {
  background-color: rgb(24, 119, 242);
}

.switch button[aria-checked='true'] span {
  transform: translateX(20px);
}

.editor-shell span.editor-image {
  cursor: default;
  display: inline-block;
  position: relative;
  user-select: none;
}

.editor-shell .editor-image img {
  display: block;
  height: auto;
  max-width: 100%;
  cursor: default;
}

.editor-shell .editor-image img.focused {
  outline: 2px solid rgb(60, 132, 244);
  user-select: none;
}

.editor-shell .editor-image img.focused.draggable {
  cursor: grab;
}

.editor-shell .editor-image img.focused.draggable:active {
  cursor: grabbing;
}

.editor-shell .editor-image .image-caption-container .tree-view-output {
  margin: 0;
  border-radius: 0;
}

.editor-shell .editor-image .image-caption-container {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.5);
  color: #000;
}

.editor-shell .editor-image .image-caption-button {
  display: block;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  width: 30%;
  padding: 10px;
  margin: 0 auto;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  min-width: 100px;
  color: #fff;
  cursor: pointer;
  user-select: none;
}

.editor-shell .editor-image .image-caption-button:hover {
  background-color: rgba(60, 132, 244, 0.5);
}

.editor-shell .editor-image .image-edit-button {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-image: url(/src/images/icons/pencil-fill.svg);
  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
  vertical-align: -0.25em;
  position: absolute;
  right: 4px;
  top: 4px;
  cursor: pointer;
  user-select: none;
}

.editor-shell .editor-image .image-edit-button:hover {
  background-color: rgba(60, 132, 244, 0.1);
}

.editor-shell .editor-image .image-resizer {
  display: block;
  width: 7px;
  height: 7px;
  position: absolute;
  background-color: rgb(60, 132, 244);
  border: 1px solid #fff;
}

.editor-shell .editor-image .image-resizer.image-resizer-n {
  top: -6px;
  left: 48%;
  cursor: n-resize;
}

.editor-shell .editor-image .image-resizer.image-resizer-ne {
  top: -6px;
  right: -6px;
  cursor: ne-resize;
}

.editor-shell .editor-image .image-resizer.image-resizer-e {
  bottom: 48%;
  right: -6px;
  cursor: e-resize;
}

.editor-shell .editor-image .image-resizer.image-resizer-se {
  bottom: -2px;
  right: -6px;
  cursor: nwse-resize;
}

.editor-shell .editor-image .image-resizer.image-resizer-s {
  bottom: -2px;
  left: 48%;
  cursor: s-resize;
}

.editor-shell .editor-image .image-resizer.image-resizer-sw {
  bottom: -2px;
  left: -6px;
  cursor: sw-resize;
}

.editor-shell .editor-image .image-resizer.image-resizer-w {
  bottom: 48%;
  left: -6px;
  cursor: w-resize;
}

.editor-shell .editor-image .image-resizer.image-resizer-nw {
  top: -6px;
  left: -6px;
  cursor: nw-resize;
}

.editor-shell span.inline-editor-image {
  cursor: default;
  display: inline-block;
  position: relative;
  z-index: 1;
}

.editor-shell .inline-editor-image img {
  max-width: 100%;
  cursor: default;
}

.editor-shell .inline-editor-image img.focused {
  outline: 2px solid rgb(60, 132, 244);
}

.editor-shell .inline-editor-image img.focused.draggable {
  cursor: grab;
}

.editor-shell .inline-editor-image img.focused.draggable:active {
  cursor: grabbing;
}

.editor-shell .inline-editor-image .image-caption-container .tree-view-output {
  margin: 0;
  border-radius: 0;
}

.editor-shell .inline-editor-image.position-full {
  margin: 1em 0 1em 0;
}

.editor-shell .inline-editor-image.position-left {
  float: left;
  margin: 1em 1em 0 0;
}

.editor-shell .inline-editor-image.position-right {
  float: right;
  width: 50%;
  margin: 1em 0 0 1em;
}

.editor-shell .inline-editor-image .image-edit-button {
  display: block;
  position: absolute;
  top: 12px;
  right: 12px;
  padding: 6px 8px;
  margin: 0 auto;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  min-width: 60px;
  color: #fff;
  cursor: pointer;
  user-select: none;
}

.editor-shell .inline-editor-image .image-edit-button:hover {
  background-color: rgba(60, 132, 244, 0.5);
}

.editor-shell .inline-editor-image .image-caption-container {
  display: block;
  background-color: #f4f4f4;
  min-width: 100%;
  color: #000;
  overflow: hidden;
}

.emoji {
  color: transparent;
  caret-color: rgb(5, 5, 5);
  background-size: 16px 16px;
  background-position: center;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin: 0 -1px;
}

.emoji-inner {
  padding: 0 0.15em;
}

.emoji-inner::selection {
  color: transparent;
  background-color: rgba(150, 150, 150, 0.4);
}

.emoji-inner::moz-selection {
  color: transparent;
  background-color: rgba(150, 150, 150, 0.4);
}

.emoji.happysmile {
  background-image: url(images/emoji/1F642.png);
}

.emoji.veryhappysmile {
  background-image: url(images/emoji/1F600.png);
}

.emoji.unhappysmile {
  background-image: url(images/emoji/1F641.png);
}

.emoji.heart {
  background-image: url(images/emoji/2764.png);
}

.table-cell-action-button-container {
  position: absolute;
  top: 0;
  left: 0;
  will-change: transform;
}

.table-cell-action-button {
  background-color: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  position: relative;
  border-radius: 15px;
  color: #222;
  display: inline-block;
  cursor: pointer;
}

@keyframes mic-pulsate-color {
  0% {
    background-color: #ffdcdc;
  }

  50% {
    background-color: #ff8585;
  }

  100% {
    background-color: #ffdcdc;
  }
}

.debug-timetravel-panel {
  overflow: hidden;
  padding: 0 0 10px 0;
  margin: auto;
  display: flex;
}

.debug-timetravel-panel-slider {
  padding: 0;
  flex: 8;
}

.debug-timetravel-panel-button {
  padding: 0;
  border: 0;
  background: none;
  flex: 1;
  color: #fff;
  font-size: 12px;
}

.debug-timetravel-panel-button:hover {
  text-decoration: underline;
}

.debug-timetravel-button {
  border: 0;
  padding: 0;
  font-size: 12px;
  top: 10px;
  right: 15px;
  position: absolute;
  background: none;
  color: #fff;
}

.debug-timetravel-button:hover {
  text-decoration: underline;
}

.debug-treetype-button {
  border: 0;
  padding: 0;
  font-size: 12px;
  top: 10px;
  right: 85px;
  position: absolute;
  background: none;
  color: #fff;
}

.debug-treetype-button:hover {
  text-decoration: underline;
}

.connecting {
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  top: 10px;
  left: 10px;
  color: #999;
  white-space: nowrap;
  pointer-events: none;
  user-select: none;
  display: inline-block;
}

.ltr {
  text-align: left;
}

.rtl {
  text-align: right;
}

.sticky-note-container {
  position: absolute;
  z-index: 9;
  width: 120px;
  display: inline-block;
}

.sticky-note {
  position: relative;
  padding-top: 20px;
  width: 130px;
  border-bottom-right-radius: 60px 5px;
  border: 1px solid var(--lz-color__border);
  font-size: 14px;
  text-align: left;
  cursor: move;
}

.sticky-note:after {
  content: '';
  position: absolute;
  z-index: -1;
  right: -0px;
  bottom: 20px;
  width: 120px;
  height: 25px;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 2px 15px 5px rgba(0, 0, 0, 0.4);
  transform: matrix(-1, -0.1, 0, 1, 0, 0);
}

.sticky-note.yellow {
  border-top: 1px solid #fdfd86;
  background: linear-gradient(
    135deg,
    #ffff88 81%,
    #ffff88 82%,
    #ffff88 82%,
    #ffffc6 100%
  );
}

.sticky-note.pink {
  border-top: 1px solid #e7d1e4;
  background: linear-gradient(
    135deg,
    #f7cbe8 81%,
    #f7cbe8 82%,
    #f7cbe8 82%,
    #e7bfe1 100%
  );
}

.sticky-note-container.dragging {
  transition: none !important;
}

.sticky-note div {
  cursor: text;
}

.sticky-note .delete {
  border: 0;
  position: absolute;
  top: 8px;
  right: 10px;
  background: none;
  font-size: 10px;
  opacity: 0.5;
  cursor: pointer;
}

.sticky-note .delete:hover {
  font-weight: bold;
  opacity: 1;
}

.sticky-note .color {
  border: 0;
  background: none;
  position: absolute;
  top: 8px;
  right: 25px;
  cursor: pointer;
  opacity: 0.5;
}

.sticky-note .color:hover {
  opacity: 1;
}

.sticky-note .color i {
  display: block;
  width: 12px;
  height: 12px;
  background-size: contain;
}

.excalidraw-button {
  border: 0;
  padding: 0;
  margin: 0;
  background-color: transparent;
}

.excalidraw-button.selected {
  outline: 2px solid rgb(60, 132, 244);
  user-select: none;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}

.spacer {
  letter-spacing: -2px;
}

.editor-equation {
  cursor: default;
  user-select: none;
}

.editor-equation.focused {
  outline: 2px solid rgb(60, 132, 244);
}

button.item i {
  opacity: 0.6;
}

button.item.dropdown-item-active {
  background-color: var(--lz-color__bg__active);
}

button.item.dropdown-item-active i {
  opacity: 1;
}

.TableNode__contentEditable {
  z-index: 3;
  border: 0px;
  position: relative;
  padding: 0;
  min-height: 20px;
  outline: 0px;
  display: block;
  user-select: text;
  white-space: pre-wrap;
  word-break: break-word;
  resize: none;
  cursor: text;
}

@keyframes CursorBlink {
  to {
    visibility: hidden;
  }
}

.dialog-dropdown {
  background-color: #eee !important;
  margin-bottom: 10px;
  width: 100%;
}

.text-count {
  margin-right: 5px;
  font-size: 12px;
  text-align: right;
}
