.StickyNode__contentEditable__wrapper {
  position: relative;
}

.StickyNode__contentEditable {
  min-height: 20px;
  border: 0;
  resize: none;
  cursor: text;
  outline: 0;
  position: relative;
  padding: 0 15px;
  caret-color: rgb(5, 5, 5);
  user-select: text;
  white-space: pre-wrap;
  word-wrap: break-word;
  &::before,
  &::after {
    content: '';
    display: table;
    clear: 'both';
  }
}
.StickyNode__placeholder {
  overflow: hidden;
  position: absolute;
  top: 0px;
  left: 15px;
  color: #999;
  user-select: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  pointer-events: none;
}
